<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
  <Rules>
    <Rule>
        <Conditions>
            <Condition>
                <Property>script</Property>
                <Operator>contains</Operator>
                <Value>LogPipelineExecutionDetails</Value>
            </Condition>
        </Conditions>
        <Actions>
            <ActionRef>
                <Name>Block</Name>
            </ActionRef>
        </Actions>
    </Rule>
    <Rule>
        <Conditions>
            <Condition>
                <Property>script</Property>
                <Operator>contains</Operator>
                <Value>CmdletInfo]::new(</Value>
            </Condition>
        </Conditions>
        <Actions>
            <ActionRef>
                <Name>Block</Name>
            </ActionRef>
        </Actions>
    </Rule>
    <Rule>
        <Conditions>
            <Condition>
                <Property>command</Property>
                <Operator>equals</Operator>
                <Value>New-Object</Value>
            </Condition>
            <Condition>
                <Property>script</Property>
                <Operator>contains</Operator>
                <Value>CmdletInfo</Value>
            </Condition>
        </Conditions>
        <Actions>
            <ActionRef>
                <Name>Block</Name>
            </ActionRef>
        </Actions>
    </Rule>
    <Rule>
        <Conditions>
            <Condition>
                <Property>member</Property>
                <Operator>equals</Operator>
                <Value>GetProperty</Value>
            </Condition>
            <Condition>
                <Property>member</Property>
                <Operator>equals</Operator>
                <Value>SetValue</Value>
            </Condition>
            <Condition>
                <Property>string</Property>
                <Operator>equals</Operator>
                <Value>HasLogged</Value>
            </Condition>
        </Conditions>
        <Actions>
            <ActionRef>
                <Name>Block</Name>
            </ActionRef>
        </Actions>
    </Rule>
  </Rules>
  <Actions>
    <Action>
      <Name>Block</Name>
      <Type>Block</Type>
    </Action>
  </Actions>
</Configuration>